
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<section>
    <div class="row">
        <div class="container">
            <div class="container" style="position:fixed">
                <div class="btn-group" style="padding-top:103px">
                    <button type="button" class="btn btn-sm btn-primary">Top Stories</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Categories</button>
                </div>
                <div style="padding-top:20px">
                    <ul>
                        <li><a href="#">Example 1</a></li>
                        <li><a href="#">Example 2</a></li>
                        <li><a href="#">Example 3</a></li>
                        <li><a href="#">Example 4</a></li>
                        <li><a href="#">Example 5</a></li>
                        <li><a href="#">Example 6</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>