@model Demo.Models.MyImages
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Images" class="control-label"></label>
                <input asp-for="Images"  value="Demo Image" class="form-control" />
                <input type="file" name="files" multiple class="form-control" />
                <span asp-validation-for="Images" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add image" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

