@model IEnumerable<Demo.Models.MyImages>
@{
    ViewData["Title"] = "Home Page";
}
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>

<script type="text/javascript">
</script>


@*I will have to put in an ID for the item karya*@
<div class="container" style="padding-top:50px">
    <div class="row">
        <div class="col-md-10">
            <div class="masonry" id="myDiv">

            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <h3>Categories</h3>
                <div class="btn-group-vertical" style="padding-top:13px;width:300px">
                    <input type="button" class="btn btn-sm btn-outline-secondary" value="2" />
                    <input type="button" class="btn btn-sm btn-outline-secondary" value="4" />
                    <input type="button" class="btn btn-sm btn-outline-secondary" value="8" />
                    <input type="button" class="btn btn-sm btn-outline-secondary" value="16" />
                </div>
                @*<ul class="list-group list-group-flush" style="padding-top:13px;width:300px">
                        <li class="list-group-item"><a href="#">2</a></li>
                        <li class="list-group-item"><a href="#">4</a></li>
                        <li class="list-group-item"><a href="#">8</a></li>
                        <li class="list-group-item"><a href="#">16</a></li>
                        <li class="list-group-item"><a href="#">32</a></li>
                    </ul>*@
                <div style="padding-top:20px">
                    <h3>Top Stories</h3>
                    <p>
                        This is where a list of the top trending stories will be!!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>